
*.dll
stages/samplestage.lua
stages/sample/*
stages/battlestage.lua
bots/sample/*
bots/supersample/*
analysis/.ipynb_checkpoints/separation_weight-checkpoint.ipynb
analysis/separation_weight.ipynb
apidoc/*
BerryBots.exe
bots/battlebot.lua
LICENSE
resources/*
runners/batch1p.lua
runners/batchduels.lua
runners/mazer/maze2e.lua.txt
runners/mazer/mazerbase.lua.txt
runners/mazer/mazerevolver.lua
runners/simpletourney.lua
